<div class="card alert-dark m-2">
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-1">
          <label for="disabledTextInput">Usuario</label>
          <input type="text" class="form-control text-center form-control-sm" [value]="gelocation.usuario">
        </div>
        <div class="form-group col-1">
          <label for="disabledTextInput">Cod.Emp</label>
          <input type="text" class="form-control text-center form-control-sm" [value]="gelocation.codEmp">
        </div>
        <div class="form-group col-1">
          <label for="disabledTextInput">DNI</label>
          <input type="text" class="form-control text-center form-control-sm" [value]="gelocation.dni">
        </div>
        <div class="form-group col-3">
          <label for="disabledTextInput">Ubigeo</label>
          <input type="text" class="form-control form-control-sm" [value]="gelocation.ubigeo">
        </div>
        <div class="form-group col-4">
          <label for="disabledTextInput">Estado</label>
          <input type="text" class="form-control form-control-sm" [value]="gelocation.estado == 'A'?'ACTIVO':'INACTIVO'">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-7">
          <label for="disabledTextInput">Dirección</label>
          <input type="text" class="form-control form-control-sm" [value]="gelocation.direccion">
        </div>
        <div class="form-group col-5">
          <label for="disabledTextInput">Urbanización</label>
          <input type="text" class="form-control form-control-sm" [value]="gelocation.urbanizacion">
        </div>
        
      </div>
    </form>
  </div>
</div>
